* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
}

.error-msg {
  display: grid;
  place-items: center;
  height: 100vh;
  color: red;
  font-size: 1rem;
}

.loading-msg {
  display: grid;
  place-items: center;
  height: 100vh;
  color: green;
  font-size: 1rem;
}
